.form-control{
  background-color: $primary;
  color: $black;
  border: 2px solid $black;
  border-radius: 1rem;
  height: 2.5rem;
  padding: 0.5rem;
  min-width: 100px;
  width: 95%;
  margin: auto;
}
